html, body {
    min-height: 100vh;
    display: flex;
    margin:auto;
}


h1 {
    text-align:center
}

img {
    max-width: 45%;
    opacity: 1;
}
img:hover {
    opacity: 0.5;
    transform: scale(1.10, 1.10);
}


button {
    background-color: white;
    border: none;
}

p {
    margin-top: 40px;
    font-size: small;
    text-align: center;
}
.scores {
    display: flex;
    justify-content: space-evenly;
}






