html, body {
    min-height: 100vh;
    display: flex;
    margin:auto;
}


h1 {
    text-align:center
}

img {
    max-width: 45%;
    opacity: 1;
}
img:hover {
    opacity: 0.5;
}


button {
    background-color: white;
    border: none;
}

button:hoer {
    border-radius: 30%;
    background-color: grey;
   
}






